ENVIRONMENT='DEVELOPMENT'

WORKING_DIRECTORY=./scrapy

DATABASE_DRIVER=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=gargantula
DATABASE_USER=gargantula
DATABASE_PASSWORD=qwe123

SPLASH_PROTOCOL=http
SPLASH_HOST=localhost
SPLASH_PORT=8050

SCRAPYD_URL=http://localhost:6800/

DJANGO_SECRET_KEY='asdasdasdasdasdasdsadadad'
DJANGO_LOG_LEVEL='INFO'

NOTEBOOKS_ROOT=./notebooks
