ENVIRONMENT='DEVELOPMENT'

DJANGO_SECRET_KEY='asdasdasdasdasdasdsadadad'
DJANGO_DEBUG='yes'
DJANGO_TEMPLATE_DEBUG='yes'
DJANGO_LOG_LEVEL='INFO'

DATABASE_NAME=gargantula
DATABASE_USER=gargantula
DATABASE_PASSWORD=qwe123
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432