bumpversion
celery
channels
channels-redis
daphne
dj-database-url
Django==2.1
django-allauth
django-bower
django-configurations==2.1
django-cors-headers
django-debug-toolbar
django-extensions==2.0.7
django-rest-auth
django-rest-swagger
djangorestframework
django-pandas==0.5.1
hydra-notebook==2.0.7
hydra-datastore
psycopg2
psycopg2-binary
python-dateutil
python-dotenv
python-scrapyd-api
radar
redis
service-identity
XlsxWriter==1.1.0

pytest
