{% extends 'material/frontend/views/detail.html' %}


{% block content %}
{% block left-panel %}
<div class="left-panel" style="flex-basis: 50%">
    <div class="card">
        <div class="card-content">
            {% block card %}
            {{ block.super }}</table>
            {% endblock card %}
        </div>
        <div class="card-action">
            <div class="left">
                <a href="#form_source" class="modal-trigger align-right blue-text">LUA Source</a>
            </div>

            <div class="right-align">
                {% block actions_row %}
                {% if True %}<a class="waves-effect waves-light btn blue white-text" href="{% url 'botapp:portalmodel_upload_lua_source' object.pk %}">Upload source</a>{% endif %}
                {% if True %}<a class="waves-effect waves-light btn green white-text" href="{% url 'botapp:portalmodel_scrapy_schedule' object.pk %}">Run</a>{% endif %}
                {% endblock actions_row %}
            </div>
        </div>
    </div>
    <div id="form_source" class="modal card">
        <div class="modal-content">
            <div class="section">
                <h5>LUA source</h5>
                <pre><code class="python">{{ object.lua_script_for_execute|linebreaksbr }}</code></pre>
            </div>
            <div class="divider"></div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn">Close</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('.modal').modal();
    </script>
    {% include 'material/includes/material_js.html' %}
</div>
{% endblock left-panel %}
{% block right-panel %}
<div class="card" style="flex-basis: 45%">
    <div class="card-content">
        <div class="card-title">Jobs</div>
        <table>
            <thead>
            <tr>
                <td>ID</td>
                <td>State</td>
                <td>Created</td>
            </tr>
            </thead>
            <tbody>
            {% for job in object.get_jobs %}
            <tr>
                <td><a href="{% url 'botapp:bestofferjobmodel_detail' job.pk %}">{{ job.id }}</a></td>
                <td>{{ job.state }}</td>
                <td>{{ job.created }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock right-panel %}

{% endblock content %}


